spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/toandfrom
    username: root
    password: 0000
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  web:
    cors:
      mappings:
        "[/api/**]":
          allowed-origins: "http://localhost:5173"
          allowed-methods: "*"
          allowed-headers: "*"
          allow-credentials: true

server:
  port: 8080
