spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/toandfrom
    username: root
    password: 0000  # ← MariaDB 비밀번호로 수정
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080

spring:
  web:
    cors:
      mappings:
        "[/api/**]":
          allowed-origins: "http://localhost:5173"
          allowed-methods: "*"
          allowed-headers: "*"
          allow-credentials: true
